<ion-view view-title="Toast Message">

  <ion-nav-bar align-title="center">

    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-android-arrow-back" ui-sref="dashboard"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>

    <div class="list">
      <a class="item" ng-click="showTop()" >
        Toast Top
      </a>

      <a class="item" ng-click="showCenter()">
        Toast Center
      </a>

      <a class="item" ng-click="showBottom()">
        Toast Bottom
      </a>

      <a class="item" ng-click="showStyledToast()">
        Toast (Styled)
      </a>

    </div>

  </ion-content>
</ion-view>
